<% provide(:title, "Create Athletes") %>
<h1>Athletes#create</h1>
<p>PLEASE DO NOT USE THIS YET</p>


<div class="bgimg-1">
  <%= form_for(@athlete) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    </br>

    <%= f.label :level %>
    <%= f.select :level, [1, 2, 3, 4, 5] %>

    </br>

    <%= f.submit "Create a new athlete", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="bgimg-1">
  <%= link_to "View", view_path %> existing athletes.
  </br>
  Go <%= link_to "home", root_path %>.
</div>