<% provide(:title, "Athletes") %>
<h1>ADMINISTRATOR USE ONLY</h1>

<div class="bgimg-1">
  <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>      
        <% @athletes.each do |a| %>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.level %></td>
          <td><%= a.rating %></td>
          <td><%= link_to 'View', athlete_path(a) %>
          <td><%= link_to 'Edit', edit_athlete_path(a) %>
          <td><%= link_to "Delete", athlete_path(a),
                    method: :delete,
                    data: { confirm: 'Are you sure? This will reset the player\'s rank.' } %>
        </tr>
        <% end %>
      </tbody>
  </table> 
</div>


<div class="bgimg-1">
  Add a <%= link_to "new athlete", create_path %>.
  </br>
  Go <%= link_to "Home", root_path %>
</div>
