<% provide(:title, "Athletes") %>
<h1>ROSTER AND RESULTS</h1>

<div class="bgimg-1">
  <table>
      <thead>
        <tr>
          <th><%= sortable "name" %></th>
          <th><%= sortable "level" %></th>
          <th><%= sortable "rating" %></th>
          <td>Votes</td>
        </tr>
      </thead>
      <tbody>
        <% @athletes.each do |a| %>
        <tr>
          <td><%= a.name.titleize %></td>
          <td><%= a.level %></td>
          <td><%= a.rating %></td>
          <td><%= (a.positive + a.negative) %></td>
          <td><%= link_to 'View', athlete_path(a) %>
        </tr>
        <% end %>
      </tbody>
  </table> 
  <h2>
    Judge more <%= link_to "matchups", matchup_path %>.
  </h2>
  <br>
  Add a <%= link_to "new athlete", create_path %>.
  <br>
  Go <%= link_to "Home", root_path %>

</div>