<% provide(:title, "View #{@athlete.name}") %>
<div class="bgimg-1">
  <h1>
    Name: <%= @athlete.name %>
  </h1>
  <h3>
    Level: <%= @athlete.level %>
  </h3>
  <h3>
    Rating: <%= @athlete.rating %>
  </h3>
  <br>
  <%= link_to "Edit User", edit_athlete_path(@athlete.id) %>
  <br>
  <%= link_to "Delete User", athlete_path(@athlete.id),
          method: :delete,
          data: { confirm: 'Are you sure? This will reset the player\'s rank.' } %>
</div>

<div class="bgimg-1">
  <%= link_to "View all", index_path %> existing athletes.
  <br>
  Add a <%= link_to "new athlete", create_path %>.
  </br>
  Go <%= link_to "Home", root_path %>
</div>
