<% provide(:title, "View All Athletes") %>
<h1>Athletes#view</h1>
<p>Find me in app/views/athletes/view.html.erb</p>

<div class="bgimg-1">
  <table>
    <% @athletes.each do |a| %>
      <thead>
        <tr>
          <th>Name</th>
          <th>Level</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.level %></td>
          <td><%= a.rating %></td>
        </tr>
      </tbody>
    <% end %>
  </table> 
</div>
<div class="bgimg-1">
  Add a <%= link_to "new athlete", create_path %>.
  </br>
  Go <%= link_to "Home", root_path %>
</div>
