<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Squash Ranker</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-418311-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-418311-4');
    </script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <!-- seo meta -->
    <meta name="description"             content="We buid the matchup, you choose who will win!">
    
    <!-- force mobile to use mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

<header class="navbar">
	<a href="https://monjibram.com" target="_blank" class="navbar-site-emblem">
		<i class="fa fa-behance-square fa-lg"></i>nji
	</a>
	
  <div class="big-nav">
    <div class="nav-links"><%= link_to "Home", root_path %></div>
    <div class="nav-links"><%= link_to "Matchups", matchup_path %></div>
    <div class="nav-links"><%= link_to "Results", index_path %></div>
  </div>
  
  <div class="dropdown">
		<div class="fa fa-bars fa-lg dropdown-nav"></div>
		<ul class="dropdown-items">
      <li class="drop-btn"><%= link_to "Home",      root_path %></li>
      <li class="drop-btn"><%= link_to "Matchups",  matchup_path %></li>
			<li class="drop-btn"><%= link_to "Results",   index_path  %></li>
		</ul>
	</div>
</header>


  <div class="content">
    <div class="alert-box">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer class="footer">
    Here's some other stuff I didn't do yet.
  </footer>
</html>
